<launch>
  <!--
    start Nao qrTracker

    For a remote detection, change the camera topic according to nao camera.
  -->

    <node pkg="rosbag" type="play" name="play" args="--clock -l $(find qr_tracker)/bag/qr_test.bag"/>

    <node pkg="qr_tracker" type="qr_tracker_node" name="qr_tracker" output="screen">
        <remap from="/camera/image_raw" to="/nao_camera/image_raw"/>
    </node>

</launch>
